.navbar {
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #482e79;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-brand:hover {
  color: #0056b3;
  text-decoration: none;
}


.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 30 30\'%3E%3Cpath stroke=\'%23007bff\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' stroke-width=\'2\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E");
}
 

.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 1rem;
  color: #555;
  transition: color 0.3s;
  margin-left: 15px;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 0.9rem;
    margin-left: 10px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}
